.layout {
  display: flex;
  min-height: 100vh;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.content {
  border-left: 1px solid var(--separator-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
