.success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.text {
  color: var(--text);
  text-align: center;
  font-family: Open Sans;
  font-size: 31px;
  font-weight: 300;
  line-height: 120%;
}
